@keyframes dotCycle {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(0.4);
  }

  60% {
    transform: scale(0.6);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Avenir, sans-serif;
}

.canvas {
  background: white;
  width: 80vw;
  height: 80vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

.grid-section {
  padding: 6vw;
  padding-bottom: 0;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-auto-rows: 20px;
  gap: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  animation-name: dotCycle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}

.dot:nth-child(2n) {
  animation-duration: 2s;
}

.dot:nth-child(3n) {
  animation-duration: 3s;
}

.dot:nth-child(4n) {
  animation-duration: 5s;
}

.dot:nth-child(5n) {
  animation-duration: 6s;
}

.dot:nth-child(6n) {
  animation-delay: -2s;
}

.dot:nth-child(7n) {
  animation-delay: -4s;
}

.dot:nth-child(8n) {
  animation-delay: -6s;
}

.dot:nth-child(9n) {
  animation-delay: -8s;
}

.text-section {
  padding-left: 6vw;
  padding-bottom: 1vw;
  padding-top: 50px;
}

h1 {
  font-size: clamp(1rem, 3.5vw, 2rem);
  font-weight: 800;
  letter-spacing: 0.5em;
  line-height: 2em;
}

.dot-letter {
  width: 0.7em;
  height: 0.7em;
  background: black;
  border-radius: 50%;
  display: inline-block;
  transform: translate(-0.25em, 0.15em);
  margin: 0.2em
}

h2 {
  font-size: clamp(0.5rem, 2vw, 1rem);
  font-weight: 500;
  letter-spacing: 0.005em;
  opacity: 0.5;
}

p {
  font-size: clamp(0.4rem, 1.5vw, 0.8rem);
  font-weight: 500;
  letter-spacing: 0.005em;
  opacity: 0.5;
  margin-bottom: 0;
}


@media (prefers-reduced-motion: reduce) {
  .dot {
    animation: none;
    transition: none;
  }
}